In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("Salary_Data.csv")
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [20]:
X = data.iloc[:,:1]
y = data.iloc[:,1:]
y.head()

    Salary
0  39343.0
1  46205.0
2  37731.0
3  43525.0
4  39891.0