In [2]:
# importing pandas
import pandas as pd

### creating a database and converting it into pandas datafram

In [3]:
import sqlite3

connection = sqlite3.connect("test_database.sqlite") #it will connect to that DB. if it does not exist, it creates
cursor = connection.cursor() #it allow us to execute queries.
print("SQLite Database connection established.")

cursor.execute('''CREATE TABLE IF NOT EXISTS school 
                  (Id INT PRIMARY KEY,
                  Name TEXT NOT NULL,
                  Age INT NOT NULL,
                  Address CHAR(50),
                  MARKS INT,
                  TESTColumn CHAR(10));''')
cursor.execute("DELETE FROM school") # for deleting the table data completely

cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) VALUES (1, 'Rohan', 14, 'Delhi', 200)");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) VALUES (2, 'Allen', 14, 'Bangalore', 150 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) VALUES (3, 'Martha', 15, 'Hyderabad', 200 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) VALUES (4, 'Palak', 15, 'Kolkata', 650)");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,MARKS) VALUES (5, 'Palak', 15, 50 )");

# cursor.execute("TRUNCATE FROM school") # for deleting the table data completely

for row in cursor.execute("SELECT id, name, marks from SCHOOL"):
    print("ID = {}, NAME = {}, MARKS = {}".format(row[0], row[1], row[2]))

SQLite Database connection established.
ID = 1, NAME = Rohan, MARKS = 200
ID = 2, NAME = Allen, MARKS = 150
ID = 3, NAME = Martha, MARKS = 200
ID = 4, NAME = Palak, MARKS = 650
ID = 5, NAME = Palak, MARKS = 50

In [4]:
#reading the table in with pandas dataframe
import pandas as pd
df = pd.read_sql_query("SELECT * FROM school", connection) # all we need to do is just passing the connection objec
df.head()

   Id    Name  Age    Address  MARKS TESTColumn
0   1   Rohan   14      Delhi    200       None
1   2   Allen   14  Bangalore    150       None
2   3  Martha   15  Hyderabad    200       None
3   4   Palak   15    Kolkata    650       None
4   5   Palak   15       None     50       None

### finding empty fields for each columns

In [5]:
df.isnull().sum() #it will give count of empty fields in a columns.

Id            0
Name          0
Age           0
Address       1
MARKS         0
TESTColumn    5
dtype: int64